<h1>You are authenticated</h1>
<br />
<ul>
	<li><a href="/user/info">See my personal info</a></li>
	<li><a href="/user/belongs_to_group?group_name=XXX-YYY">Do you belong to XXX-YYY group ?</a></li>
	<li><a href="/user/groups">See my groups info</a></li>	
	<li><a href="/user/name">See my name</a></li>
	<li><a href="/user/firstname">See my firstname</a></li>
	<li><a href="/user/lastname">See my lastname</a></li>
	<li><a href="/user/email">See my mail info</a></li>
</ul>
